.contact-us-box {
    background-color: white;
    min-height: 10vh;
    margin-top: -3rem;
    position: relative;
    box-shadow: 3px 3px 8px #0000006c;
}

.contact-us-box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    padding: 0.5rem;
    background-color: rgb(5, 163, 0);
}

.contact-us-box-text {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    padding: 1 8px;
    background-color:inherit;
}

.contentText{
    height:inherit;
    width: 100%;
}