.contact-us-box {
  background-color: transparent;
  min-height: 10vh;
  /* margin-top: -4rem; */
  position: relative;
  padding: 1em;
  /* box-shadow: 3px 3px 8px #0000006c; */
  border-radius: 50px;
  border-radius: 12px;
}

.contact-us-box-item {
  margin-inline: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 10vh;
  padding: 0.5rem;
  /* box-shadow: 3px 3px 10px #0000006c; */
  box-shadow: 1px 10px 20px #0000002c;
  border-radius: 12px;
}

.contact-us-box-text {
  min-height: 10vh;
  word-wrap: normal;
  align-items: center;
  padding: 0 8px;
  background-color: transparent;
}
