.about-us-box {
    background-color: rgb(249, 249, 235, 0.01);
    position: relative;
    padding: 3rem;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    z-index: 1;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    height: fit-content;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.dr-img {
    border-radius: 10%;
    height: inherit;
}