.img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0%;
    z-index: 1;
}

.MuiCard-root {
    color: #20b255;
}

.MuiContainer-root {
    padding: 0%;
}