
.appbar-solid{
    background: rgb(255, 255, 255);
    box-shadow: 4;
    color: black;
}

.appbar-transparent{
    background: rgb(0, 0, 0, 0.1);
    box-shadow: none;
}

.img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0%;
    opacity: 0.4;
    z-index: 1;
}

.MuiContainer-root {
    padding: 0%;
    background: black;
    overflow: hidden;
